<div class="shell-container">
    <div class="list-container">
            <mat-card class="list-card">
                <mat-card-header class="card-header">
                    <mat-card-title>Tasks</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list *ngFor="let item of items; let i = index;">
                        <mat-list-item>
                            <mat-form-field>
                                <input *ngIf="item.description !== ''" matInput type="text" [(ngModel)]="item.description" [(value)]="item.description" (blur)="onSubmit($event)" (ngModelChange)="markDirty(i)">
                                <input *ngIf="item.description === ''" matInput type="text" [(ngModel)]="item.description" [placeholder]="item.id == 0? 'What do you need to do?' : ''" [(value)]="item.description" (blur)="onSubmit($event)" (ngModelChange)="markDirty(i)">
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
    </div>
    <footer>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div class="toolbar-container">
                    
                    <button (click)="addNewItem()" class="btn-add" mat-raised-button color="accent">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="add task">add_task</mat-icon>    
                        <span>Add task</span>
                    </button>
                    <!-- This fills the remaining space of the current row -->
                    <span class="spacer"></span>
                </div>
            
                    
            </mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>